.MuiInput-underline:before,
.MuiInput-underline:after,
.MuiInput-underline:hover:not(.Mui-disabled):before {
    border: none !important;
}

@media (max-width: 960px) {
    .MuiSelect-icon {
        color: black !important;
    }
}

@media (min-width: 960px) {
    .MuiSelect-icon {
        color: white !important;
    }
}

.MuiSelect-selectMenu {
    padding: 0 !important;
    padding-right: 24px !important;
}

.MuiSelect-selectMenu:focus {
    background: none !important;
}

@media (min-width: 600px) {
    .MuiToolbar-regular {
        min-height: 56px !important;
    }
}