.footerContactInfo {
    margin-top: 30px;
}

.footerContactInfo li {
    padding-top: 0;
    padding-bottom: 0;
}

.footerContactInfo li:first-of-type {
    padding-top: 8px;
}

.footerContactInfo li:last-of-type {
    padding-bottom: 8px;
}